<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Project Manager</title>
</head>
<body>
<h1>My Projects</h1>
<div>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each = "project : ${projectList}">
			<td><a th:href="'/projects/'+${project.id}" th:text="${project.name}">...</a></td>
			<td th:text="${project.description}">...</td>
			<td>
				<a th:href="'/tasks/'+${project.id}+'/addTask'">ADD TASK</a>
			</td>
			<td>
				<a th:href="'/projects/'+${project.id}+'/addVisibility'">ADD VISIBILITY</a>
			</td>
			<td>
				<a th:href="'/projects/'+${project.id}+'/delete'">DELETE</a>
			</td>
		</tr>
		</tbody>
	</table>
	<div><a href="/home">BACK TO HOME</a></div>
</div>
</body>
</html>