<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Project</title>
</head>
<body>

<h1 th:text="${project.name}"> </h1>
<h4 th:text="${project.description}" style="color:gray"> </h4>

<div th:if="${members.size()>0}">
	<h3> Shared with:</h3>
	<ul>
		<li th:each="member : ${members}">
			<div th:text="${member.firstName} + ' ' + ${member.lastName}"> </div>
		</li>
	</ul>
	</div>
	
	<h3>Tasks</h3>
	<ul>
		<li th:each ="task : ${project.tasks}">
			<div th:text="${task.name}"></div>
			<div th:text="${task.description}" style="color:gray"></div>
			<div th:text="'Task completed: '+${task.completed}" style="color:gray"></div>
			<div th:if="${project.owner.id==loggedUser.id}"><div th:if="${task.completed==false}"><a th:href="'/tasks/'+${task.id}+'/'+${project.id}+'/setCompleted'">SET COMPLETED</a></div></div>
			<div><a th:href="'/tags/'+${task.id}+'/addTag'">ADD TAG</a></div>
		</li>
	</ul>

</body>
</html>