<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Project</title>
</head>
<body>

<h1 th:text="${project.name}"> </h1>
<h4 th:text="${project.description}" style="color:gray"> </h4>

<div th:if="${members.size()>0}">
	<h3> Shared with:</h3>
	<ul>
		<li th:each="member : ${members}">
			<div th:text="${member.firstName} + ' ' + ${member.lastName}"> </div>
			<div th:if="${project.owner.id==loggedUser.id}"><a th:href="'/projects/'+${member.id}+'/'+${project.id}+'/deleteUserFromProject'">UN-SHARE</a></div>
		</li>
	</ul>
</div>

<div th:if="${tags.size()>0}">
	<h3> Tags:</h3>
	<ul>
		<li th:each="tag : ${tags}">
			<div th:text="${tag.name} + ': ' + ${tag.description}+'---'+${tag.color}"> </div>
			<div th:if="${project.owner.id==loggedUser.id}"><a th:href="'/tags/'+${tag.id}+'/'+${project.id}+'/deleteTagFromProject'">DELETE</a></div>
		</li>
	</ul>
</div>
	
	<h3>Tasks</h3>
	<ul>
		<li th:each ="task : ${tasks}">
			<div th:text="${task.name}"></div>
			<div th:text="${task.description}" style="color:gray"></div>
			<div th:if="${task.owner!=null}"><div th:text="'Owner: '+${task.owner.firstName}"></div></div>
			<div th:text="'Task completed: '+${task.completed}" style="color:gray"></div>
			<div th:if="${project.owner.id==loggedUser.id}"><div th:if="${task.completed==false}"><a th:href="'/tasks/'+${task.id}+'/'+${project.id}+'/setCompleted'">SET COMPLETED</a></div></div>
			<div th:if="${task.taskTag != null}">
				<div th:each = "tag : ${task.taskTag}">
					<div th:text = "'Tagged: '+${tag.color}" style="color:gray">...</div>
				</div> 
			</div>
			<div th:if="${project.owner.id==loggedUser.id}"><div th:if="${task.completed==false}"><a th:href="'/tasks/'+${task.id}+'/'+${project.id}+'/setCompleted'">SET COMPLETED</a></div></div>
			<div th:if="${project.owner.id==loggedUser.id}"><a th:href="'/tags/tasks/'+${task.id}+'/addTag/'+${project.id}">ADD TAG</a></div>
			<div th:if="${project.owner.id==loggedUser.id}"><div><a th:href="'/tasks/'+${task.id}+'/addOwner'">ADD OWNER</a></div></div>
			<div th:if="${members.contains(loggedUser)}"><a th:href="'/comments/'+${task.id}+'/seeComments/'+${activeProject.id}">SEE COMMENTS</a></div>
			<div th:if="${members.contains(loggedUser)}"><a th:href="'/comments/'+${task.id}+'/addComment/'+${activeProject.id}">ADD COMMENT</a></div>
			<div th:if="${project.owner.id==loggedUser.id}"><a th:href="'/tasks/'+${task.id}+'/'+${project.id}+'/delete'">DELETE</a></div>
		</li>
	</ul>

</body>
<div><a href="/home">BACK TO HOME</a></div>
</html>