<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Project Manager</title>
</head>
<body>
<h1 th:text="'Members of project '+${activeProject.name}"></h1>
<div>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Share to</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each = "member : ${members}">
			<td th:text="${member.userName}">...</td>
			<td>
				<a th:href="'/tasks/'+${activeTask.id}+'/'+${member.user.id}+'/addedOwner'" th:text="'Share task '+${activeTask.name}+' to this user'">...</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div><a href="/home">BACK TO HOME</a></div>
</body>

</html>