<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Project-Manager</title>
</head>

<body>
<h1>Il tuo profilo</h1>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.userName}">...</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}">...</td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${credentials.role}">...</td>
        </tr>
        <tr>
            <td>Registered at: </td>
            <td th:text="${user.creationDate}">...</td>
        </tr>
      
    </table>
</body>
</html>